{% extends "index.html" %}

{% block content %}
<article class="post-single">
    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-meta">
            {% if page.extra.author_url %}글쓴이: <a class="post-author" href="{{ page.extra.author_url | safe }}">
                {{ page.extra.author }}
            </a>
            {% else %}<span class="post-author">
                글쓴이: {{ page.extra.author }}
            </span>{% endif %}
            <br/>
            <span>{{ page.date | date(format="%Y년 %m월 %d일") }}</span>
            <span>&middot;</span>
            <span class="post-reading-time">읽는 시간: {{ page.reading_time }} 분</span>
        </div>
    </header>
    <div class="post-content">{{ page.content | safe }}</div>
    <footer class="post-footer">
        {% if page.taxonomies.tags %}
        <ul class="post-tags">
        {% for tag in page.taxonomies.tags %}
            <li><a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}
    </footer>
</article>
{% endblock content %}
